@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 90%;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{ 
  position:absolute;
  margin-bottom: -5rem;
   bottom:20px;
   width:100%;
   height:80px;   
   background:#6cf;
}


.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.task_main{
  z-index: 3;
  height: 70vh;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eef0f7;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.task_container {
  background-color: #fff;
  width: 600px;
  height: 650px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}
.task_container::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom right, #ff9ec4, #ffd07e);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;
}
.task_container img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.task_container-text {
  padding: 10px 40px 10px 10px;
}
.task_container-text h2 {
  font-size: 1.2rem;
  color: #1a2250;
}
.task_container-text p {
  font-size: 14px;
  color: #3b4169;
  margin: 10px 0;
}
.task_container-text input, .task_container-text textarea, .task_container-text button {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 3px;
}
.task_container-text input, .task_container-text textarea {
  border: 2px solid #daddec;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #656880;
}
.task_container-text button {
  background-image: linear-gradient(to right, #0f0f0f, #000);
  display: block;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 20px #89caff 94;
  transition: box-shadow 0.3s ease-in-out;
}
.task_container-text button:hover {
  box-shadow: none;
}
.task_container-text span {
  display: block;
  text-align: center;
  margin: 20px 0 0;
  color: #babdcb;
  font-size: 12px;
}

.modal_body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eef0f7;
  display: grid;
  place-items: center;
  min-height: 60vh;
  overflow: hidden;
}


h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:16px;
}

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:28em;
  width:24em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:26em;
  width:24em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://image.freepik.com/free-photo/cloud-computing-banner-background-smart-city_53876-108504.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:22em;
  width:24em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:justify;
  word-spacing:-1px;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:28em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
